{% extends 'myadmin/base.html' %}
{% load static from staticfiles %}

{% block useradd_js %}
	<script type="text/javascript" src="{% static 'myadmin/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'myadmin/js/typedel.js' %}"></script>
{% endblock %}

{% block block_typeshow %}
	class="active"
{% endblock %}

{% block myadmin_body %}
	<!-- 主体开始 -->
	<h3>
		商品类别浏览
	</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					id
				</th>
				<th>
					类别名称
				</th>
				<th>
					父类别
				</th>
				<th>
					类别路径
				</th>
				<th>
					操作
				</th>
			</tr>
		</thead>
		<tbody>
			{% for type in typelist %}
			<tr>
				<td>
					{{ type.id }}
				</td>
				<td>
					{{ type.row }} {{ type.name }}
				</td>
				<td>
					{{ type.pid }}
				</td>
				<td>
					{{ type.path }}
				</td>
				<td>
					<a href="{% url 'myadmin_typeedit' type.id %}">修改</a>
					<a href="{% url 'myadmin_typedel' type.id %}" class="typedel">删除</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<!-- 主体结束 -->
{% endblock %}