{% extends 'myadmin/base.html' %}
{% load static from staticfiles %}
{% block useradd_js %}
	<script type="text/javascript" src="{% static 'myadmin/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'myadmin/js/goodsdel.js' %}"></script>
{% endblock %}

{% block block_goodsshow %}
	class="active"
{% endblock %}

{% block myadmin_body %}
	<!-- 主体开始 -->
	<h3>
		商品信息浏览
	</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>
					商品id
				</th>
				<th>
					商名称
				</th>
				<th>
					单价
				</th>
				<th>
					图片
				</th>
				<th>
					状态
				</th>
				<th>
					库存量
				</th>
				<th>
					售出量
				</th>
				<th>
					点击量
				</th>
				<th>
					添加时间
				</th>
				<th>
					操作
				</th>
			</tr>
		</thead>
		<tbody>
			{% for list in goodslist %}
			<tr>
				<td>
					{{ list.id }}
				</td>
				<td width="15%">
					{{ list.goods }}
				</td>
				<td>
					{{ list.price }}
				</td>
				<td>
					<img src="/static/imgs/goods/l{{ list.picname }}" alt="">
				</td>
				<td>
					{{ list.state }}
				</td>
				<td>
					{{ list.store }}
				</td>
				<td width="8%">
					{{ list.num }}
				</td>
				<td>
					{{ list.clicknum }}
				</td>
				<td>
					{{ list.addtime }}
				</td>
				<td>
					<a href="{% url 'myadmin_goodsedit' list.id %}">修改</a>
					<a href="{% url 'myadmin_goodsdel' list.id %}" class="goodsdel">删除</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>				
	<div class="pagination">
		<ul>
			{% if previous %}
			<li>
				<a href="{% url 'myadmin_goodsshow' previous %}">&laquo;</a>
			</li>
			{% else %}
			<li class="disabled">
				<a href="javascript:void(0);">&laquo;</a>
			</li>
			{% endif %}
			{% for p in plist %}
			{% if p == pIndex %}
			<li class="disabled">
				<a href="{% url 'myadmin_goodsshow' p %}">{{ p }}</a>
			</li>
			{% else %}
			<li>
				<a href="{% url 'myadmin_goodsshow' p %}">{{ p }}</a>
			</li>
			{% endif %}
			{% endfor %}
			{% if next %}
			<li>
				<a href="{% url 'myadmin_goodsshow' next %}">&raquo;</a>
			</li>
			{% else %}
			<li class="disabled">
				<a href="javascript:void(0);">&raquo;</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<!-- 主体结束 -->
{% endblock %}