{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<title>锤子后台管理</title>
		<link rel="shortcut icon" href="{% static 'myweb/imgs/favicon.ico' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'myadmin/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'myadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
		<link href="{% static 'myadmin/css/site.css' %}" rel="stylesheet">
		<!--[if lt IE 9]><script src="{% static 'myadmin/js/html5.js' %}"></script><![endif]-->
		{% block useradd_js %}
		{% endblock %}
	</head>
	<body>
		<div class="container">
            <!-- 页头开始 -->
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="#">锤子后台管理</a>
						<div class="nav-collapse">
							<ul class="nav">
								<li class="active">
									<a href="index.html">首页</a>
								</li>
								<li>
									<a href="settings.htm">在线设置</a>
								</li>
								<li>
									<a href="help.htm">帮助</a>
								</li>
								<li class="dropdown">
									<a href="help.htm" class="dropdown-toggle" data-toggle="dropdown">更多 <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li>
											<a href="help.htm">Introduction Tour</a>
										</li>
										<li>
											<a href="help.htm">Project Organisation</a>
										</li>
										<li>
											<a href="help.htm">Task Assignment</a>
										</li>
										<li>
											<a href="help.htm">Access Permissions</a>
										</li>
										<li class="divider">
										</li>
										<li class="nav-header">
											Files
										</li>
										<li>
											<a href="help.htm">How to upload multiple files</a>
										</li>
										<li>
											<a href="help.htm">Using file version</a>
										</li>
									</ul>
								</li>
							</ul>
							<form class="navbar-search pull-left" action="">
								<input type="text" class="search-query span2" placeholder="Search" />
							</form>
							<ul class="nav pull-right">
								<li>
									<a href="#">@{{ name }}</a>
								</li>
								<li>
									<a href="{% url 'myadmin_logout' %}">退出</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- 页头结束-->
			
            
            <div class="row left-nav">
				<div class="span3">
                    <!-- 侧边导航开始 -->
					<div class="well" style="padding: 8px 0;">
						<ul class="nav nav-list">
							<li class="nav-header">
								导航栏
							</li>
							<li {% block block_index %}
							{% endblock %} >
								<a href="{% url 'myadmin_index' %}"><i class="icon-black icon-home"></i> 首页</a>
							</li>
                            <li class="nav-header">
								会员管理
							</li>
							<li {% block block_usershow %}
							{% endblock %}>
								<a href="{% url 'myadmin_usersshow' 1 %}"><i class="icon-folder-open"></i> 会员信息浏览</a>
							</li>
							<li {% block block_useradd %}
							{% endblock %}>
								<a href="{% url 'myadmin_usersadd' %}"><i class="icon-check"></i> 会员信息添加</a>
							</li>
							<li class="nav-header">
								商品类别管理
							</li>
							<li {% block block_typeshow %}
							{% endblock %}>
								<a href="{% url 'myadmin_typeshow' %}"><i class="icon-folder-open"></i> 商品类别浏览</a>
							</li>
							<li {% block block_typeadd %}
							{% endblock %}>
								<a href="{% url 'myadmin_typeadd' %}"><i class="icon-check"></i> 商品类别添加</a>
							</li>
							<li class="nav-header">
								商品管理
							</li>
							<li {% block block_goodsshow %}
							{% endblock %}>
								<a href="{% url 'myadmin_goodsshow' 1 %}"><i class="icon-folder-open"></i> 商品浏览</a>
							</li>
							<li {% block block_goodsadd %}
							{% endblock %}>
								<a href="{% url 'myadmin_goodsadd' %}"><i class="icon-check"></i> 商品添加</a>
							</li>
							<li class="nav-header">
								订单管理
							</li>
							<li {% block block_ordershow %}
							{% endblock %}>
								<a href="{% url 'myadmin_ordersshow' 1 %}"><i class="icon-folder-open"></i> 订单浏览</a>
							</li>
						</ul>
					</div><!-- 侧边导航结束 -->
				</div>
				<div class="span9">
                	{% block myadmin_body %}
                	{% endblock %}
				</div>
			</div>
		</div>
		<script src="{% static 'myadmin/js/jquery.min.js' %}"></script>
		<script src="{% static 'myadmin/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'myadmin/js/site.js' %}"></script>
	</body>
</html>